* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --vert: #0cbd67;
    --bleufonce:#114D67;
    --bleuclair : #2C84DB;
    --blancbleu : #F6FEFF;
    --gris : #889EB8;
}
ul, ol {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
a {
    color: var(--bleufonce);
    text-decoration: none;
    transition: all .4s;
    cursor: pointer;
}
img {
    width: 100%;
}
@font-face {
    font-family: "adelia";
    src: url("../font/adelia.otf") format('truetype');
}
h1{
    font-family: 'Josefin Sans', sans-serif;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
}
h3{
    font-family: 'Josefin Sans', sans-serif;
}
body {
    font-family: 'Quicksand',sans-serif; font-size: 16px; line-height: 1.3;font-weight: 400;
    background-color: white;
    color: var(--bleufonce);
    overflow-x: hidden;
}

.wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2 {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap3 {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap4 {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap5 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

    /*debut header*/

#masthead {
    background-color: #F6FEFF;
    padding: 1rem;
    border-bottom: 0.5rem double var(--bleufonce);
}


#masthead .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#masthead nav ul {
    display: flex;
    align-items: center;
    justify-content: right;
    /*gap: 2rem;*/
}

#masthead nav i {
    padding-right: 1rem;
}


#masthead nav a {
    border-radius: 5px;
    color: var(--bleufonce);
    padding: 1rem;
    transition: background-color 0.3s;
}

#masthead nav a:hover {
    background-color: rgba(142, 201, 217, 0.49);
}

#masthead nav {
    margin: 0 auto;
    width: 80%;
}

#masthead .logo a {
    width: 15rem;
    display: flex;
    align-items: center;
}

#masthead .logo a h1 {
    color: var(--bleufonce);
    font-family: 'adelia';
    font-size: 22px;
}

#masthead .logo .masthead_image {
    width:15rem;
}

#masthead li{
    text-align: center;
    width: 15%;
}

#masthead .carnet a {
 background-color: var(--bleufonce);
    color: white;
}
#masthead .deconnexion{
    width: 18%;
}

#masthead .profil_bouton{
    width: 25%;
}
#masthead .carnet{
    width: 25%;
}
#masthead .dropdown{
    display: none;
    width: 25rem;
}
#masthead button{
    display: flex;
    justify-content: right;
    border: none;
    background-color: var(--blancbleu);
    cursor: pointer;
    width: 100%;
    font-size: 30px;
    padding: 1rem;
    border-radius: 5px;
    color: var(--bleufonce);
}
#masthead .dropdown i{
    padding: 1rem;
}
#masthead  button i:hover{
    background-color: rgba(142, 201, 217, 0.49);
}
#masthead .nav_burger{
    display: none;
    position: absolute;
    background-color:var(--blancbleu);
    width: 100%;
    z-index: 1;
}
#masthead .dropdown:hover .nav_burger{
    display: block;
}
#masthead .dropdown ul li{
    width: 100%;
    text-align: right;
    padding: 1rem;
    transition: background-color 0.3s;
}
#masthead .dropdown ul li:hover{
    background-color:rgba(142, 201, 217, 0.49);
}
#masthead .dropdown ul a{
    width: 100%;
    padding: 1rem
}
#masthead .dropdown ul{
    border:solid  0.1rem var(--bleufonce);
}



/*fin header*/

/*debut footer*/

#foot {
    background-color: var(--bleufonce);
    padding: 1rem;
}

#foot .wrap {
    text-align: center;
}

#foot .titre h2 {
    font-family: 'adelia';
    font-size: 25px;
    color: var(--blancbleu);
    padding: 2rem;
}

#foot .copyright p {
    color: var(--blancbleu);
    padding-bottom: 2rem;
    font-size: 10px;
}

#foot .menu_foot ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
}

#foot .menu_foot a {
    color: var(--blancbleu);
}

#foot .menu_foot li {
    color: var(--blancbleu);
}

#foot .reseaux a {
    color: var(--blancbleu);
    font-size: 21px;
    transition: 0.6s;
}

#foot .reseaux li {
    transition: 0.6s;
}

#foot .reseaux li:hover {
    transform: scale(1.3);
}

#foot .reseaux ul {
    display: flex;
    gap: 1rem;

    justify-content: center;
    padding-top: 1rem;
}

#foot .menu_foot a:hover {
    text-decoration: underline;
}

/*fin footer*/


/*Debut page vaccination */
h1 {
    text-align: center;
}
.form_one {
    display: grid;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 0.9rem;
}
#tableau_vaccination {
    margin-top: 3rem;
}

.form_one table {
    border-collapse: collapse;
    -webkit-box-shadow: 0 12px 23px -7px rgba(0,0,0,0.17);
    box-shadow: 0 12px 23px -7px rgba(0,0,0,0.17);
    background-color: white;
    text-align: center;
    overflow: hidden;
    table-layout: fixed;
    margin: 5rem auto;

}
thead {
    -webkit-box-shadow: 0 -9px 17px 10px rgba(0,0,0,0.18);
    box-shadow: 0 -9px 17px 10px rgba(0,0,0,0.18);
}
th {
    padding: 1rem 2rem;
    text-transform: uppercase ;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
#tableau_vaccination .icon_d_m{
    display: flex;
    justify-content: center;
}
td {
    padding: 1rem 2rem;
}

tr:nth-child(even){
    background-color: #F0F2F5;
}
.img_icon {
    display: flex;
    width: 5rem;
    justify-content: space-around;
    gap: 20px;

}
.img_icon img {
    border-radius: 50%;
    transition: .50ms;
}
.img_icon .crayon{
    transform: rotate(220deg);
}
.img_icon img:hover {
    transform: scale(1.1);
}

.img_icon .crayon:hover {
    transform: rotate(220deg) scale(1.1);
}

.button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.button a {
    background-color: var(--bleufonce);
    padding: 1rem 2rem;
    color: white;
    border-radius: 5px;

}
.button a:hover {
    transform: scale(1.1);
}

    /*BUTTON*/

/*FIN PAGE VACCINATION*/

/* BACKGROUND - START */

main {
    background-color: #fff;
}

#background {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

#background img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* BACKGROUND - END */

/* ACCUEIL - START */

#accueil {
    margin-top: 4rem;
}

#accueil .acc-title {
    margin-bottom: 4.2rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 25px;
}
#accueil .acc-title .a {
    font-size: 3rem;
}
#accueil .acc-title .e {
    font-size: 2.5rem;
    border-bottom-style: solid;
}

#accueil .acc-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#accueil .acc-box {
    text-align: center;
    width: 30%;
}
#accueil .acc-img p {
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    left: 0;
    font-weight: bold;
}
#accueil .acc-img {
    width: 200px;
    position: relative;
    margin: 0 auto;
}

#accueil .acc-img img {
    border-radius: 50%;
    border: 2px solid var(--bleufonce);
    padding: 5px;

    display: inline-block;

}

#accueil .acc-fleche-1 img {
    border: none;
    position: absolute;
    width: 125px;
    transform: scaleX(-1) rotate(175deg) ;
    top: 2px; right: 850px;
    filter: brightness(0.5);
}

#accueil .acc-fleche-2 img {
    border: none;
    position: absolute;
    width: 125px;
    bottom: 45px; right: 400px;
    filter: brightness(0.5);
}

#accueil .acc-text {
    margin-top: 3rem;
}

#accueil .acc-text p span {
    font-weight: bold;
}

/* ACCUEIL - END */

/* INSCRIPTION (lien) - START */

#inscri-lien {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#inscri-lien .insc-content {
    display: flex;
    background-color: #F6FEFF;
    box-shadow: 8px 15px 33px 13px rgba(16,74,100,0.23);
    justify-content: space-between;
    border-radius: 10px;

}

#inscri-lien .incs-img {
    object-fit: cover;
    width: 35%;
}

#inscri-lien .incs-img img {
    border-radius: 10px;
}

#inscri-lien .incs-text {
    width: 70%;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#inscri-lien .insc-button {
    height: 20%;
}

#inscri-lien .insc-button a {
    background-color: var(--bleuclair);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 40px;
    line-height: normal;
    display: inline-block;
    transition: all .2s ease-out;
}

#inscri-lien .insc-button a:hover {
    transform: scale(1.02);
    background-color: var(--bleufonce);
}

/* INSCRIPTION (lien) - END */

/* ARTICLE - START */

#article .art-content {
    display: flex;
}


#article .art-lien {
    display: inline-block;
    padding: 1rem;
    position: relative;
    margin-top: 35px;
    border-radius: 12px;
    overflow: hidden;
    width: 40%;
    height: 40%;
    transition: .5s;
}

#article .art-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 45px;
    z-index: 1;
}

#article .art-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: .5s;
    filter: contrast(10%)
}

#article .art-lien:hover .art-img {
    filter: contrast(100%);
    transform: scale(99%);
}

#article .art-lien:hover h2 {
  display: none;
}

#article .art-lien:hover p {
    display: none;
}

/* ARTICLE - END */

/* STATISTIQUES - START */

#statistiques .stat-content {
    margin-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    text-align: center;
}

#statistiques p {
    font-size: 35px;
    font-weight: bold;
}

#statistiques span {
color: var(--gris);
}

/* STATISTIQUES - END */

/* MENTION - START */

#mention {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

#mention h1 {
    text-align: justify ;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 30px;
}

#mention h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

/* MENTION - END */

/*debut inscription*/

#inscription h2{
    text-align: center;
    padding: 2rem;
    margin: 3rem auto;
    font-size: 30px;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: var(--bleufonce);
}

#inscription .contener{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    margin: 4.5rem auto;

}

#inscription .contener .text_tuto {
    text-align: center;
    font-size: 1.5rem;
}

#inscription .contener .text_tuto p {
    margin-top: 1rem;
    font-size: 1rem;
}

#inscription .video{
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#inscription .video iframe{
    border-radius: 5px;
    width: 511.36px;
    height: 315px;
}

#inscription .formulaire{
    width: 47%;
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 1rem 2rem;
}

#inscription .imgborder {
    width: 511px;
    display: flex;
    justify-content: space-around;
}
#inscription .imgborder img:hover {
    scale: 1.1;
}
#inscription .imgborder img {
    width: 8.5rem;
    border-radius: 50%;
}

#inscription form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

#inscription input{
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}

#inscription input[type=submit]{
    border: none;
    background-color: var(--vert);
    color: white;
    width: 30%;
    margin: 2rem auto;
    font-size: 15px;
    font-family: 'quicksand',sans-serif ;
    transition: 0.6s;
}

#inscription input[type=submit]:hover{
    transform: scale(1.3);
    background-color: var(--bleufonce);
}
#inscription input[type=date]:before {
    content: attr(placeholder) " : ";
    white-space: pre;
}
#inscription .error{
    width: 100%;
    color: red;
    text-align: center;
    padding-bottom: 1rem;
}

#tableau_vaccination thead {
    background-color: var(--bleufonce);
    color: white;
}



.backgroundmodifform2 {
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem auto;

}
.backgroundmodifform2 a {
    display: flex;
    justify-content: center;

}
.backgroundmodifform2 p {
    margin-bottom: 2rem;
    color: #0cbd67;

}

.backgroundmodifform2 h6 {
    text-align: center;
    padding-bottom: 2rem;
    font-family: "quicksand", sans-serif;
    font-size: 2rem;
    color:var(--bleufonce);
    font-weight: normal;
}
.backgroundmodifform2 p {
    font-size: 1.1rem;
}
.boutonretour {
    background-color: var(--bleuclair);
    border-radius: 5px;
    color: white;
    width: 30%;
    padding: 1rem;
    transition: 1s;
}


.boutonretour:hover {
    transform: scale(1.2);
}
/*VALIDATION VACCIN*/

.backgroundmodifform3 {

    padding: 3rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1.5rem auto;

}
.backgroundmodifform3 a {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 0 auto;

}
.backgroundmodifform3 p {
    margin-bottom: 3rem;

}

.backgroundmodifform3 h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.2rem;
    font-family: "quicksand", sans-serif;
    color: #114D67;
    font-weight:bold;
}
.backgroundmodifform3 p {
    color: green;
    font-size: 1.4rem;
}
.backgroundmodifform3 button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

.backgroundmodifform3 button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    cursor: pointer;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}




    /*fin inscription*/

/* CONNECTION - START */

input[type="submit"] {
    cursor: pointer;
}


#connect h2 {
    text-align: center;
    padding: 2rem;
    margin: 3rem auto;
    font-size: 30px;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: var(--bleufonce);
}

#connect form {
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#connect input{
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}

#connect input[type=submit]{
    border: none;
    background-color: var(--vert);
    color: white;
    width: 30%;
    margin: 2rem auto;
    font-size: 15px;
    font-family: 'quicksand',sans-serif ;
    transition: 0.6s;
}

#connect input[type=submit]:hover{
    transform: scale(1.05);
    background-color: var(--bleufonce);
}

#connect .error {
    display: block;
    width: 100%;
    color: red;
}

/* CONNECTION - END */

/*FORGET PASSWORD - START*/
#form_mail input {
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 2rem;
}


#form_mail input[type=submit] {
    background-color: #306780;
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 1s;
    width: 50%;
    margin-top: 1rem;
}

#form_mail input[type=submit]:hover {
    transform: scale(1.1);
    background-color: #205c77;
}

#form_mail form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}



#form_mail {
    width: 47%;
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 5rem auto;
}
#form_mail p{
    text-align: center;
}

#form_mail a:hover{
    text-decoration: underline;
}


#form_mail h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
}

#form_mail .error {
    display: block;
    width: 100%;
    color: red;
}

/*FORGET PASSWORD - END*/
/*MODIFY PASSWORD - START*/

#modifpass  input {
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 2rem;
}


#modifpass  input[type=submit] {
    background-color: #306780;
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 1s;
    width: 50%;
    margin-top: 1rem;
}

#modifpass  input[type=submit]:hover {
    transform: scale(1.1);
    background-color: #205c77;
}

#modifpass  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}



#modifpass  {
    width: 47%;
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 5rem auto;
}


#modifpass  h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
}

#modifpass .error {
    display: block;
    width: 100%;
    color: red;
}

/*MODIFY PASSWORD - END*/

/*debut profil*/

#profil h2{
    text-align: center;
    padding: 2rem;
    margin: 3rem auto;
    font-size: 30px;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: var(--bleufonce);
}
#profil .bloc{
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 2rem auto;
}

#profil form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#profil label{
    width: 35%;
    background-color: var(--bleuclair);
    color: var(--blancbleu);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
#profil input{
    width: 60%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--bleufonce);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}
#profil input[type=submit]{
    border: none;
    background-color: var(--vert);
    color: white;
    width: 30%;
    margin: 2rem auto;
    font-size: 15px;
    font-family: 'quicksand',sans-serif ;
    transition: 0.6s;
}
#profil input[type=submit]:hover{
    transform: scale(1.3);
    background-color: var(--bleufonce);
}
#profil .error{
    width: 100%;
    color: red;
    text-align: center;
    padding-bottom: 1rem;
}
/* DEBUT ADDVACCIN */

#addvaccin {
    width: 47%;
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 5rem auto;
}

#addvaccin .formuadd {

    max-width: 600px;
    margin: 0 auto;
}
#addvaccin .formuadd h2 {
    text-align: center;
    margin: 3rem auto;
}
#addvaccin .formuadd form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
#addvaccin .formuadd input {
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}
#addvaccin .formuadd select {
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}
#addvaccin .formuadd input[type=submit]{
    width: 50%;
}
#addvaccin .formuadd input:nth-child(2){
    display: flex;
    justify-content: center;
}

#addvaccin input[type=submit] {
    background-color: #306780;
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 1s;
    width: 50%;
    margin-top: 1rem;
}

#addvaccin input[type=submit]:hover {
    transform: scale(1.1);
    background-color: #205c77;

}
#addvaccin [type="date"]::before{
    content: attr(placeholder)" : ";
    white-space: pre;
}

#addvaccin .error {
    display: block;
    width: 100%;
    color: red;
}

/*FIN ADDVACCIN*/
.container1 {
    text-align: center;
}

.error-code {
    font-size: 8em;
    color: #2c3e50;
    font-weight: bold;
}

.error-message {
    font-size: 1.5em;
    color: #34495e;
    margin-bottom: 0.6rem;

}

.back-home {
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;

}

.back-home:hover {
    background-color: #2980b9;
}
/*CONTACT DEBUT*/

#textarea input {
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 2rem;
}

#textarea textarea {
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 25px;
    margin-bottom: 2rem;
    height: 120px;
    resize: none;
}

#textarea input[type=submit] {
    background-color: #306780;
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 1s;
    width: 50%;
    margin-top: 1rem;
}

#textarea input[type=submit]:hover {
    transform: scale(1.1);
    background-color: #205c77;

}

#textarea form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}



#textarea {
    width: 47%;
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 5rem auto;
}
#textarea .text_c {
    justify-content: center;
    text-align: center;
}

#textarea .text_c p {
    margin-bottom: 2rem;
}

#textarea .text_c h1 {
    font-size: 2.5rem;
}

#textarea .error {
    display: block;
    width: 100%;
    color: red;
}
/*CONTACT FIN*/

/*CONNEXION DEBUT*/
#connect h2 {
    text-align: center;
    padding: 2rem;
    margin: 3rem auto;
    font-size: 30px;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: var(--bleufonce);
}
#connect .formulaire_connect{
    width: 100%;
    box-shadow: 4px 4px 8px var(--gris);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 5rem auto;
}
#connect form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video iframe {
    max-width: 100%; /* La vidéo ne dépassera pas la largeur de son conteneur */
    height: auto;    /* Assurez-vous que la hauteur s'ajuste proportionnellement */
}




#connect input{
    width: 100%;
    background-color: var(--blancbleu);
    color: var(--bleufonce);
    border: solid 0.1rem var(--gris);
    padding: 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}
#connect input[type=submit]{
    background-color: #306780;
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 1s;
    width: 50%;
    margin: 1rem auto;
}
#connect input[type=submit]:hover{
    transform: scale(1.1);
    background-color: #205c77;

}
#connect .error{
    width: 100%;
    color: red;
    text-align: center;
    padding-bottom: 1rem;
}

#connect p{
    text-align: center;
}
#connect a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 1245px){
    #masthead nav{
        display: none;
    }
    #masthead .dropdown{
        display: inline-block;
        justify-content: right;
        flex-direction: column;
        position: relative;
    }

}
@media screen and (max-width: 1000px){
    #inscription .contener{
        flex-direction: column;
    }
    #inscription .video iframe{
        border-radius: 5px;

        width: 20%;
    }
    #inscription .video{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 3rem;
    }
    #inscription .formulaire{
        width: 70%;
        margin: 0 auto;
    }
    #inscription .imgborder {
        display: none;
    }
    /* INSCRI-LIEN - RESPONSIVE */

    #inscri-lien .incs-img {
        display: none;
    }

    #inscri-lien .insc-content {
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    }

    #inscri-lien .insc-button {
        height: 50px;
    }

    #inscri-lien .wrap2{
        width: 700px;
    }
    /* ACCEUIL - RESPONSIVE */

    #accueil .acc-content {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    #accueil .acc-box {
        width: 100%;
    }

    #accueil .acc-text {
        margin-top: 1rem;
    }

}
@media screen and (max-width: 920px){
    #tableau_vaccination .hidden1{
        display: none;
    }
    #tableau_vaccination .w1{
        width: 19%;
    }
    #tableau_vaccination .w2{
        width: 14%;
    }
    #tableau_vaccination .w3{
        display: none;
    }
    #tableau_vaccination .w4{
        width: 19%;
    }
    #tableau_vaccination .w5{
        width: 19%;
    }
    #tableau_vaccination .w6{
        width: 24%;
    }
}
@media screen and (max-width: 720px){
    #tableau_vaccination .hidden2{
        display: none;
    }
    #tableau_vaccination .w1{
        width: 24%;
    }
    #tableau_vaccination .w2{
        width: 19%;
    }

    #tableau_vaccination .w4{
        display: none;
    }
    #tableau_vaccination .w5{
        width: 24%;
    }
    #tableau_vaccination .w6{
        width: 28%;
    }
}

@media screen and (max-width: 800px) {

    main {
        justify-content: center;
    }

    #background {
        display: none;
    }



    /* ARTICLE - RESPONSIVE */

    #article .art-content {
        flex-direction: column;
    }

    #article .art-lien {
        width: 100%;
    }

    /* STAT - RESPONSIVE */

    #statistiques .stat-content {
        flex-direction: column;
    }

}

@media screen and (max-width: 720px) {
    main {
        justify-content: center;
    }

    #inscri-lien .wrap2{
        width: 96%;
    }
}

@media screen and (max-width: 600px) {
    main {
        justify-content: center;
    }
    #masthead button{
        justify-content: center;
        width: 18rem;
        margin: 0 auto;
    }
    #masthead .wrap {
        flex-direction: column;
    }
    #masthead .dropdown{
        width: 100%;
    }
    #masthead .dropdown ul li{
        text-align: center;
    }

    #tableau_vaccination .hidden3{
        display: none;
    }
    #tableau_vaccination .w1{
        width: 33.3333333%;
    }
    #tableau_vaccination .w2{
        width: 28.33333333%;
    }
    #tableau_vaccination .w5{
        width: 33.333333333%;
    }
    #tableau_vaccination .w6{
        display: none;
    }
    #tableau_vaccination .icon_d_m{
        display: none;
    }
}

@media screen and (max-width: 1325px) {
    #accueil .acc-fleche-2 img {
        display: none;
    }
    #accueil .acc-fleche-1 img {

        display: none;
    }
}

@media screen and (max-width: 450px) {
    #masthead button{
        width: 100%;
    }
    #textarea .text_c h1 {
        font-size: 2rem;
    }

    #textarea input[type=submit] {
        width: 70%;
    }

    #textarea {
        width: 70%;
    }

    #inscription .imgborder {
        display: none;
    }

    #inscription input[type=submit] {
        width: 40%;
    }

    #connect input[type=submit] {
        width: 70%;
    }

    #tableau_vaccination .hidden4{
        display: none;
    }
    #tableau_vaccination .w1{
        display: none;
    }
    #tableau_vaccination .w2{
        width: 40%;
    }
    #tableau_vaccination .w5{
        width: 60%;
    }

    #foot .menu_foot ul {
        flex-direction: column;
    }

    #foot .menu_foot a {
        color: var(--blancbleu);
        padding: 0.3rem;
    }
    #foot .menu_foot .separator{
        display: none;
    }

    #profil form ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #profil label{
        width: 35%;
        background-color: var(--bleuclair);
        color: var(--blancbleu);
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    #profil input{
        width: 60%;
        background-color: var(--blancbleu);
        color: var(--bleufonce);
        border: solid 0.1rem var(--bleufonce);
        padding: 1rem;
        border-radius: 50px;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 350px) {
    #masthead .dropdown ul a{
        font-size: 13px;
    }
}
@media screen and (max-width: 800px) {
    #inscription .video iframe{
        border-radius: 5px;

        width: 421.36px;
        height: 225px;
    }

}
@media screen and (max-width: 750px) {
    #inscription .video iframe{
        border-radius: 5px;
        width: 391.36px;
        height: 195px;
    }

}