/** debut reset **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap {
    max-width: 1440px; width: 100%; margin: 0 auto;
}
.wrap2 {
    max-width: 640px; width: 100%; margin: 0 auto;
}
.wrap3 {
    max-width: 1200px; width: 100%; margin: 0 auto;
}
.wrap4 {
    max-width: 1400px; width: 100%; margin: 0 auto;
}
ul, ol {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}

/** fin reset **/




:root {
    --gris:#191C24;
    --vert: #0cbd67;
    --bleufonce:#114D67;
    --bleuclair : #2C84DB;
    --blancbleu : #F6FEFF;
    --noir:#000000;
}



a {
    text-decoration: none;
    font-family: 'roboto';
    color: var(--bleufonce);
    text-decoration: none;
    transition: all .4s;
}
a:hover {
    transform: scale(1.1);

}
@font-face {
    font-family: "adelia";
    src: url("../font/adelia.otf") format('truetype');
}



h1 {
    font-family: "adelia";
    font-size: 22px;
    color: white;
}
h2 {
    font-family: "roboto";
    font-size: 2rem;
    color: white;
    font-weight: normal;
}

/** debut masthead **/
#masthead {
    background-color: var(--gris);
}

#masthead .wrap {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    display: none;
    width: 25rem;
}


button{
    display: flex;
    justify-content: right;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 30px;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    background-color: var(--gris);
}
.dropdown i{
    padding: 1rem;
}

.nav_burger{
    display: none;
    position: absolute;
    background-color:var(--gris);
    width: 100%;
    z-index: 1;
}
.dropdown:hover .nav_burger{
    display: block;
}
.dropdown ul li{
    width: 100%;
    text-align: right;
    padding: 1rem;
    transition: background-color 0.3s;
}
.dropdown ul li:hover{
    background-color:rgba(142, 201, 217, 0.49);
}
.dropdown ul a{
    width: 100%;
    padding: 1rem
}
.dropdown ul{
    border:solid  0.1rem var(--bleufonce);
}


/** fin masthead **/


/** debut index **/
.bloc1et2 {
    display: flex;
    justify-content: space-between;




}
.bloc {
    padding: 2rem 4rem;
    width: 48%;
    background-color:var(--gris);
    margin: 2rem 0;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.bloc3 {
    margin: 0 auto;
    background-color: black;
}




.bloc p {
    font-size: 2rem;
}





.fa-square-plus {
    color: var(--vert);
    font-size: 1.5rem;
    transition: 0.6s;
}
.fa-square-plus:hover {
    color: white;
}
.fa-reply {
    color: var(--bleufonce);
    font-size: 1.5rem;
    transition: 0.6s;

}

.fa-reply:hover  {
    transform: scale(1.2);

}


.fa-trash {
    color: red;
    font-size: 1.5rem;
    transition: 0.6s;
}
.fa-trash:hover {
    transform: scale(1.2);
}
.fa-pencil {
    color: darkgoldenrod;
    font-size: 1.5rem;
    transition: 0.6s;
}
.fa-pencil:hover {
    transform: scale(1.2);
}

.fa-eye {
    color: white;
    font-size: 1.5rem;
    transition: 0.6s;
}
.fa-eye:hover {
    transform: scale(1.2);
}
/** fin index **/

.nav-link {
    padding: 7px 15px;
    color: white;
    font-weight: 500;
    border-left: 3px solid var(--gris);
    display: flex;
    align-items: center;
    outline: none;
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}

td, th {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

.nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: gray;
    border-radius: 40px;
    font-size: 1rem;
    margin-right: 1rem;
    color: white;
    transition: 1s;
}



.plus {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.plus:hover {
    transform: rotate(180deg);
}


body {
    background-color: black;
    font-family: 'roboto';
}

#masthead {
    padding: 0 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.5rem double white;
    padding: 1rem;
}
#masthead input {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    height: 1.5rem;
}
#masthead img {
    width: 86px;
}


#masthead input::placeholder {
    margin-left: 5px;
    color: white;
}
.administrator {
    padding: 1rem;
    background-color: darkred;
    font-weight: bold;
    border-radius: 7px;
    border: 2px solid white;
    margin-left: 2rem;
}

p {

    color: white;
}
.blocall {

    display: flex;
    flex-direction: column;
}
.bloc1et2 > * {
    display: flex;
    align-items: center;
}
.bloc1et2 span {
    border-bottom: 2px solid white;
    color: white;
    padding: 1rem 0;

}


.bloclogo  {

    display: flex;
    align-items: center;
}

.logo_img {
    filter: brightness(200%) grayscale(100%);
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: space-between;

}

table {
    border-collapse: collapse;
    border-radius: 5px;
    margin: 60px 0;
}

.table_commentaire table {
    table-layout: fixed;
}
.table_vaccins table {
    table-layout: fixed;
}
.table_users table {
    table-layout: fixed;
}

th, td {
    border: 1px solid var(--gris);
    padding: 10px;
    background-color: var(--blancbleu);
    width: 100%;
    word-break: break-word;
}

th {
    background-color: var(--gris);
    color: var(--bleufonce);
}

tbody tr:nth-child(even) {
    background-color: var(--bleuclair);
}

tbody tr:nth-child(odd) {
    background-color: var(--bleufonce);
}

td, th {
    color: var(--blancbleu);
}
td{
    color: black;
}



th {
    text-align: center;
}

.bloc111 td{
    color: black;
    text-align: center;
    font-size: 1.5rem;
}



.deuxicones i {
    font-size: 20px;
    padding: 0 1rem;
}
.deuxicones {
    padding: 1rem;
}

textarea {
    resize: none;
}
textarea {
    border-radius: 0 5px 5px 0;
}


#page1 {
    margin-bottom: 2rem;
}


label {
    color: black;
    background-color: white;

}



.formbloc > * {

    border: none;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;

}
.formbloc  {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}
span {
    color:red;
    font-weight: bold;
}

.success {
    background-color: var(--vert);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boutonretour {
    background-color: var(--bleuclair);
    border-radius: 5px;
    color: white;
    width: 30%;
    padding: 1rem;
}



input[type="submit"] {
    width: 30%;
    border-radius: 7px;
    margin-top: 2rem;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    transition: 1s;
    cursor: pointer;

}

input[type="submit"]:hover {
    transform: scale(1.2);

}

.backgroundmodifform {
    background-color: var(--bleufonce);
    padding: 3rem;
    border-radius: 5px;

}
.backgroundmodifform2 {
    background-color: var(--vert);
    padding: 3rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.backgroundmodifform2 a {
    display: flex;
    justify-content: center;

}
.backgroundmodifform2 p {
    margin-bottom: 2rem;

}
.backgroundmodifform h2 {
    text-align: center;
    padding-bottom: 2rem;
}
.backgroundmodifform2 h2 {
    text-align: center;
    padding-bottom: 2rem;
}



/*debut footer*/

#foot  {
    background-color: var(--gris);
    padding: 1rem;
}

#foot .wrap {
    text-align: center;
}

#foot .titre h2 {
    font-family: 'adelia';
    font-size: 25px;
    color: var(--blancbleu);
    padding: 2rem;
}

#foot .copyright p {
    color: var(--blancbleu);
    padding-bottom: 2rem;
    font-size: 10px;
}

#foot .menu_foot ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
}

#foot .menu_foot a {
    color: var(--blancbleu);
}

#foot .menu_foot li {
    color: var(--blancbleu);
}

#foot .reseaux a {
    color: var(--blancbleu);
    font-size: 21px;
    transition: 0.6s;
}

#foot .reseaux li {
    transition: 0.6s;
}

#foot .reseaux li:hover {
    transform: scale(1.3);
}

#foot .reseaux ul {
    display: flex;
    gap: 1rem;

    justify-content: center;
    padding-top: 1rem;
}

#foot .menu_foot a:hover {
    text-decoration: underline;
}

/*fin footer*/




@media screen and (max-width: 1250px) {
    .bloc1et2 {
        flex-direction: column;
        align-items: center;
    }
    .bloc1et2 span {
        display: none;
    }
    table {
        margin: 60px auto;
        width: 80%!important;
    }
    table .hidden {
        display: none;
    }

    .dropdown{
        display: inline-block;
        justify-content: right;
        flex-direction: column;

    }

    .nav {
        display: none;
    }

    button{
        width: 18rem;
        margin: 0 auto;
    }
    .nav_burger a:hover {
        transform: scale(1);
    }
    .nav-link {
        border-left: none;
    }

    .nav_burger {
        width: 400px;
    }
    .hidden2 {
        display: none;
    }
    .hidden12 {
        display: none;
    }



}

@media screen and (max-width: 820px) {
    .bloc1et2 {
        flex-direction: column;
        align-items: center;
    }
    .bloc1et2 span {
        display: none;
    }
    table {
        margin: 60px auto;
        width: 80%!important;
    }
    table .hidden {
        display: none;
    }

    .dropdown{
        display: inline-block;
        justify-content: right;
        flex-direction: column;

    }

    .nav {
        display: none;
    }

    button{
        width: 18rem;
        margin: 0 auto;
    }
    .nav_burger a:hover {
        transform: scale(1);
    }
    .nav-link {
        border-left: none;
    }

    .nav_burger {
        width: 95%;
    }
    #masthead .wrap {
        align-items: center;
        flex-direction: column;
    }
    button {
        justify-content: center;
    }
    .dropdown {
        width: 100%;
    }
    .hidden3  {
        display: none;
    }
    .hidden9 {
        display: none;
    }
    .hidden10 {
        display: none;
    }
}
@media screen and (max-width: 568px) {
    .hidden4 {
        display: none;
    }
    .hidden11 {
        display: none;
    }

}